.jumbotron {
  background-color: #a9a9a9;
}

.nav-link {
  color: black;
}

h1 {
  color: black;
}
nav {
  background-color: #a9a9a9;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}

.navbar-brand {
  color: black;
}
